.header{
    display: flex;
    align-items: center;
    padding: 15px;
    box-shadow: 1px 0 12px #b7b7b7;
}

.header a {
    display: flex; 
    align-items: center;
    text-decoration: none;       
}

.header .logo{
    max-height: 34px;
}

.header .title-group{
    padding-left: 10px;
}