<div class="container">
<nav class="section-left">
        <div class="side-nav">
            <ul>
                <li>
                    <a routerLink="/">
                        Home
                    </a>
                </li>
                <li>
                    <a routerLink="/products"> 
                        Cadastro
                    </a>
                </li>
            </ul>
            
            
        </div>

    </nav>

    
    <div class="section-right">
        <router-outlet></router-outlet>
    </div>
</div>