.container{
    min-height: calc(100vh - 100px) ;
    background-color: #f4f4f4;
}
.sidenav {
    background-color: #3F51B5;
    width: 200px;
}

.mat-drawer .mat-drawer-side{
   padding: 15px 0 0 15px;
   
}

.nav-list{
    display: flex;
    flex-direction: column;
}

.sidenav a {
    color: #FFF;
}

.sidenav i {
    padding-right: 10px;
}

.content {
    padding: 16px;
    
}